.p-galleria-item {
    margin-left: 30px;
}

.p-galleria-thumbnail-item img {
    width: 80px;
    height: 60px;
    object-fit: contain;
}

.p-galleria-item-wrapper,
.p-galleria-item-container {
    width: 100%;
}

.p-galleria-thumbnail-item {
    background-color: var(--white);
}


.p-menubar ul {
    flex-wrap: wrap;
}

.p-menubar {
    background: transparent;
    border: transparent;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: var(--black)
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: transparent;
    opacity: .5;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--black);
}
