.info h1 {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 500;
}

.info ul {
    margin: 20px 0;
}

.info li {
    margin-bottom: 8px;
    list-style: disc;
    list-style-position: inside;
}
